body {
   
    font-family:'Tilt Neon', cursive;
    margin: 0;
    padding: 0;
    background-image: url(bilder/artificial-intelligence\ bild.jpg);
}

header {
    background-color: #25125c;
    color: #d3dade;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 2px 2px 10px #272c29;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #3af50c;
    font-weight: bold;
    
}




.form-section {
    display: flex;
    flex-direction: column;
   text-align: center;
    margin: 2em;
    line-height: 2;
    color: #3f3f42;
    background-color: #858bad;
    width: 450px;
   
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #d4cfcf;
    border-radius: 5px;
  
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.error-message {
    color: red;
    margin-top: 5px;
}

textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}




footer {
    background-color: #8474be;
    color: #100f0f;
    text-align: center;
    padding: 5px 0;
}