
body {
   
    font-family:'Tilt Neon', cursive;
    margin: 0;
    padding: 0;
    background-image: url(bilder/bild\ på\ en\ dator\ med\ code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #5f5b70;
    color: #d3dade;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: 6px 6px 10px #1f1f1f;

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 25px;
}

nav a {
    text-decoration: none;
    color: #3af50c;
    font-weight: bold;
    
}

section{
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    background-color: #bdbdc8;
    color: #495151;
	font-family:'Tilt Neon', cursive;
    padding: 60px;
    margin: 20px 0;
    box-shadow: 10px 10px 10px rgb(95, 92, 92);
 
    
}



footer {
    background-color: #8474be;
    color: #100f0f;
    text-align: center;
    padding: 5px 0;
}
